@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #282b30;
    padding: 2rem;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
